input.search-input {
    border-style: none;
    min-width: 20em;
}

input.search-input:focus {
    outline: none;
}


div.input-wrapper {
    background-color: white;
    width: 25em;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    border: solid;
    border-color: black;
    box-shadow: 6px 4px black;
}

button.search-button {
    background-color: var(--PRIMARYCOLOR);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

button.search-button:hover {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;

}