* {
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: var(--BGCOLOR);
}


:root {
  --LIGHTGRAY: #F2F2F2;
  --BLACK: black;
  --BGCOLOR: #E7DCD0;
  --PRIMARYCOLOR: #F21D2F;
  --WHITE: white;

}

div.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

input.search-input {
  border: none;
  min-width: 20em;
}

div.input-wrapper {
  background-color: white;
  width: 25em;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  border: solid;
  border-color: black;
  box-shadow: 6px 4px black;
}

button.search-button {
  background-color: var(--PRIMARYCOLOR);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 1px;
}

h1#title {
  font-family: 'Limelight', sans-serif;
  letter-spacing: 1px;
  font-size: 6em;

}

span#light_text {
  font-weight: 300;
}

p#landing_p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
}

img.image {
  width: 20em;
}